FACEBOOK_ID=SKIP
FACEBOOK_SECRET=SKIP
FACEBOOK_CALLBACK=http://localhost:3000/Oauth/facebook/callback
SESSION_SECRET=ThisIsMartinSecret
MONGODB_URI=mongodb://localhost/restaurantList
PORT=3000
GOOGLE_CLIENT_ID=SKIP
GOOGLE_CLIENT_SECRET=SKIP
GOOGLE_CALLBACK=http://localhost:3000/Oauth/google/callback
GREETING=HELLO MY MENTOR