<div class="container">
  <form action="/restaurants/add" method="POST" id="restaurant-form">
    <h2>餐廳資料填寫</h2>
    <hr>
    <div class="form-row mt-4">
      <div class="form-group col-6">
        <label for="name"><span style="color: red;">*</span> 名稱：</label>
        <input type="text" class="form-control" id="name" placeholder="請輸入餐廳名稱" name="name" required>
        <div class="valid-feedback">done</div>
        <div class="invalid-feedback">請輸入餐廳名稱（中英文皆可）</div>
      </div>
      <div class="form-group col-6">
        <label for="name_en"><span style="color: red;">*</span>英文店名：</label>
        <input type="text" class="form-control" id="name_en" placeholder="請輸入餐廳英文店名" name="name_en" required>
        <div class="valid-feedback">done</div>
        <div class="invalid-feedback">請輸入餐廳英文名稱（大小寫皆可）</div>
      </div>
      <div class="form-group col-6">
        <label for="category"><span style="color: red;">*</span> 類別</label>
        <input list="categories" class="form-control" name="category" id="category" placeholder="請輸入餐廳分類" required>
        <datalist id="categories">
          <option>中東料理</option>
          <option>美式</option>
          <option>咖啡</option>
          <option>日本料理</option>
          <option>義式餐廳</option>
          <option>酒吧</option>
        </datalist>
        <div class="valid-feedback">done</div>
        <div class="invalid-feedback">請輸入餐廳分類或選取預設分類</div>
      </div>
      <div class="form-group col-6">
        <label for="rating"><span style="color: red;">*</span> 評分</label>
        <input type="number" step="0.1" min="0.0" max="5.0" class="form-control" name="rating" id="rating" placeholder="請輸入餐廳評分 範圍：0.0 ~ 5.0 " required>
        <div class="valid-feedback">done</div>
        <div class="invalid-feedback">請輸入餐廳評分 範圍：0.0 ~ 5.0</div>
      </div>
      <div class="form-group col-6">
        <label for="location"><span style="color: red;">*</span> 地址：</label>
        <input type="text" class="form-control" id="location" placeholder="請輸入餐廳地址" name="location" required>
        <div class="valid-feedback">done</div>
        <div class="invalid-feedback">請輸入餐廳地址</div>
      </div>
      <div class="form-group col-6">
        <label for="phone"><span style="color: red;">*</span> 電話：</label>
        <input type="text" class="form-control" id="phone" placeholder="請輸入餐廳電話" name="phone" pattern="\d{2}-\d{8}" maxlength="11" required>
        <div class="valid-feedback">done</div>
        <div class="invalid-feedback">請依照（區碼）xx-xxxxxxxx格式輸入餐廳電話</div>
      </div>
      <div class="form-group col-12">
        <label for="google_map"><span style="color: red;">*</span>google地圖連結：</label>
        <input type="url" class="form-control" id="google_map" placeholder="請輸入google地圖連結" name="google_map" required>
        <div class="valid-feedback">done</div>
        <div class="invalid-feedback">請輸入google地圖連結</div>
      </div>
      <div class="form-group col-12">
        <label for="image"><span style="color: red;">*</span> 照片：</label>
        <input type="url" class="form-control" id="image"
          placeholder="請貼上餐廳照片連結 例如：https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5635/01.jpg"
          name="image" required>
        <div class="valid-feedback">done</div>
        <div class="invalid-feedback">請貼上餐廳照片連結</div>
      </div>
      <div class="form-group col-12 mb-5">
        <label for="description"><span style="color: red;">*</span> 簡介：</label>
        <textarea class="form-control" id="description" name="description" rows="3" placeholder="請輸入餐廳簡介"
          required></textarea>
        <div class="valid-feedback">done</div>
        <div class="invalid-feedback">請輸入餐廳簡介</div>
      </div>
    </div>
    <div class="d-flex justify-content-around mb-4">
      <button class="btn btn-info btn-restaurant" type="submit">新增餐廳</button>
      <a href="/">
        <button class="btn btn-dark" type="button">返回首頁</button>
      </a>
    </div>
  </form>
</div>

<script src="/javascripts/formCheck.js"></script>