<div class="container">
  <form action="/restaurants" method="POST" id="restaurant-form">
    <h2>餐廳資料填寫</h2>
    <hr>
    <div class="form-row mt-4">
      <div class="form-group col-6">
        <label for="name"><span style="color: red;">*</span> 名稱：</label>
        <input type="text" class="form-control" id="name" placeholder="請輸入餐廳名稱" name="name" required>
        <div class="valid-feedback">done</div>
        <div class="invalid-feedback">This field is required.</div>
      </div>
      <div class="form-group col-6">
        <label for="name_en">英文店名：</label>
        <input type="text" class="form-control" id="name_en" placeholder="請輸入餐廳英文店名（可空白）" name="name_en">
      </div>
      <div class="form-group col-6">
        <label for="category"><span style="color: red;">*</span> 類別</label>
        <input list="categories" class="form-control" name="category" id="category" placeholder="請輸入餐廳分類" required>
        <datalist id="categories">
          <option>中東料理</option>
          <option>美式</option>
          <option>咖啡</option>
          <option>日本料理</option>
          <option>義式餐廳</option>
          <option>酒吧</option>
        </datalist>
        <div class="valid-feedback">done</div>
        <div class="invalid-feedback">This field is required.</div>
      </div>
      <div class="form-group col-6">
        <label for="rating"><span style="color: red;">*</span> 評分</label>
        <input list="rates" class="form-control" name="rating" id="rating" placeholder="請輸入餐廳評分 範圍：0.0 ~ 5.0 " required>
        <datalist id="rates">
          <option>1.0</option>
          <option>2.0</option>
          <option>3.0</option>
          <option>4.0</option>
          <option>5.0</option>
        </datalist>
        <div class="valid-feedback">done</div>
        <div class="invalid-feedback">This field is required.</div>
      </div>
      <div class="form-group col-6">
        <label for="location"><span style="color: red;">*</span> 地址：</label>
        <input type="text" class="form-control" id="location" placeholder="請輸入餐廳地址" name="location" required>
        <div class="valid-feedback">done</div>
        <div class="invalid-feedback">This field is required.</div>
      </div>
      <div class="form-group col-6">
        <label for="phone"><span style="color: red;">*</span> 電話：</label>
        <input type="text" class="form-control" id="phone" placeholder="請輸入餐廳電話" name="phone" required>
        <div class="valid-feedback">done</div>
        <div class="invalid-feedback">This field is required.</div>
      </div>
      <div class="form-group col-12">
        <label for="google_map">google地圖連結：</label>
        <input type="text" class="form-control" id="google_map" placeholder="請輸入google地圖連結（可空白）" name="google_map">
      </div>
      <div class="form-group col-12">
        <label for="image"><span style="color: red;">*</span> 照片：</label>
        <input type="text" class="form-control" id="image"
          placeholder="請貼上餐廳照片連結 例如：https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5635/01.jpg"
          name="image" required>
          <div class="valid-feedback">done</div>
          <div class="invalid-feedback">This field is required.</div>
      </div>
      <div class="form-group col-12 mb-5">
        <label for="description"><span style="color: red;">*</span> 簡介：</label>
        <textarea class="form-control" id="description" name="description" rows="3" placeholder="請輸入餐廳簡介" required></textarea>
        <div class="valid-feedback">done</div>
        <div class="invalid-feedback">This field is required.</div>
      </div>
    </div>
    <div class="d-flex justify-content-around mb-4">
      <button class="btn btn-info btn-restaurant" type="submit">新增餐廳</button>
      <a href="/">
        <button class="btn btn-dark" type="button">返回首頁</button>
      </a>
    </div>  
  </form>
</div>

<script src="/javascripts/formCheck.js"></script>